<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MedicalApp">
<head>
    <title>MedicalApp</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body class="flex-col" ng-controller="AccountController as account">
    <header class="flex-col f-ai-c">

        <h2>
            M.E.T. <i class="fa fa-plus-square" aria-hidden="true"></i>

        </h2>

        <div class="f-as-fs">
            <a href="/">Home</a> /
            <a ui-sref="list">List</a> /
            <a href="/add">Add Medical Expense</a> /
            <a href="/reportForm">Report Form</a> /
            <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
            <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
            <div ng-show="account.isLoggedIn()">
                [{{account.getUserName()}}]
            </div>

        </div>
    </header>

    <ui-view class="flex-grow"></ui-view>

    <footer class="flex-col f-ai-c">
        <span>Medical Expense Tracking</span>
    </footer>
    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>

    <script src="~/ngApp/controllers/accountController.js"></script>
    <script src="~/ngApp/services/accountService.js"></script>


</body>
</html>
