html, body {
    margin: 0;
}
body {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

#homeView {
    background-image: url("http://previews.123rf.com/images/nexusplexus/nexusplexus1212/nexusplexus121205627/17056576-Illustration-with-medical-background-having-heart-beat-doctor-and-stethoscope-Stock-Illustration.jpg");
    background-size: cover;
    min-height: 100%;
}

#addView {
    max-height: 430px;
}

#detailsView {
    background-image: url("http://pcitraining_production.s3.amazonaws.com/image/shutterstock_70352440.jpg");
    background-size: contain;
    background-repeat:no-repeat;
    min-height: 430px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.f-jc-sb {
    justify-content: space-between;
}

.f-jc-sa {
    justify-content: space-around;
}

.f-jc-c {
    justify-content: center;
}

.f-ai-c {
    align-items: center;
}

.f-as-fs {
    align-self: flex-start;
}

.flex-grow {
    flex: 1;
}

ui-view {
    flex: 1;
}

.max-width-fifty{
    max-width: 40%;
}

.margins {
    margin-bottom: 15px;
    margin-top: 8px;
}

footer {
    padding: 15px;
}